.face-mesh-container {
  text-align: center;
  position: relative;
}

/* Container for the video and filter selection */
.video-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Make the container expand to the full width */
  max-width: 640px; /* Set a max width if needed */
  height: auto; /* Let the height adjust according to aspect ratio */
}

/* Style the video element */
video {
  display: block;
  width: 100%;
  height: 100%; /* Make the video fill its container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

/* Style the canvas element to cover the whole video container */
.output-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* Style the filter selection */
.filter-selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px; /* Add padding for better visibility */
  box-sizing: border-box; /* Include padding in width calculations */
  z-index: 1;
}

.gallery-modal{
  border: 1px solid black;
  
}

button:hover{
  background-color: rgb(4, 4, 63);
  color: aliceblue;
}